[Desktop Entry]
Exec=sh /iao/Executables/Pulseaudio/create-obs-audio-sinks.sh
Name=Create OBS Audio Sinks
OnlyShowIn=LXQt;
Type=Application
Version=1.0
