[Desktop Entry]
Exec=sh /home/miles/Executables/Input/set_mouse_properties.sh
Name=Set Mouse Properties
OnlyShowIn=LXQt;
Type=Application
Version=1.0
